@import '../../core/colors';
@import '../../core/mixins';
@import '../../core/variables';

// Header for collections


.collection-header {

    .stats-achieved {
        background: transparentize($primary, .2);
        border-top: 1px solid transparentize($black, .9);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 15px;
        position: relative;
        text-align: center;
        z-index: 20;
    }

    .stat-achieved {
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        width: 50%;

        h3 {
            font-size: 10pt;
            font-weight: 400;
            margin: 15px 0 5px;
            text-transform: uppercase;
            color: #fff;
        }


        h2 {
            font-size: 20pt !important;
            line-height: 24pt !important;
            margin: 20px 0 10px !important;
            text-transform: uppercase;
        }
        h4 {
            display: none;
            font-size: 14pt !important;
            font-weight: 600 !important;
            line-height: 18pt !important;
            margin: 10px 0 10px !important;
            padding: 0 40px !important;
            letter-spacing: 0 !important;
        }
        .stat-value {
            color: #fff;
            font-size: 25pt;
            font-weight: 600;
        }
    }

    .ctaurl {
        color: white;
        text-decoration: underline;
    }

    &.has-image {

        .stats-background {
            visibility: visible;
        }

        .stats-main {
            background: transparentize($black, .5);
            border-radius: $widget-border-radius $widget-border-radius 0 0;
            padding: 40px 0 35px;

            h2,
            h4 {
                color: $white;
                text-shadow: 0 1px 5px transparentize($black, .2);
            }
        }

        .stats-achieved {
            border-radius: 0 0 $widget-border-radius $widget-border-radius;
        }

        .stat-achieved {

            h3,
            .stat-value {
                color: $white;
            }
        }
    }

    .row {
        background: $white;
        border: 1px solid transparentize($black, .9);
        border-radius: $widget-border-radius;
        box-shadow: 0 2px 4px -1px transparentize($black, .9);
        display: flex;
        flex-direction: column;
        margin: $side-gutters $side-gutters 30px;
        padding: 0;
        position: relative;
    }

    .picture {
        min-height: 100%;
    }

    .background {
        background: #D4D8DC;
        border-radius: $widget-border-radius;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        img {
            display: block;
            width: 100%;
            height: 220px;
        }
        .commun_img {
            height: auto;
        }
    }
    .background-image{
        background: url("http://res.cloudinary.com/cotribute/image/upload/v1503944916/cotribute-banner_imxaa8.jpg"); background-repeat: no-repeat; background-size: cover;  background-position: center 0px;
    }

    .header-main.community_head {
        background: transparentize($black, .5);
        padding: 40px 0 20px;
    }
    .header-main {
        padding: 30px 0 15px;
        position: relative;
        text-align: center;
        z-index: 10;

        h2 {
            font-size: 34pt;
            line-height: 30pt;
            margin: 20px 0 10px;
            display: inline-block;
            white-space: normal;
        }

        h4 {
            display: none;
            font-size: 16pt;
            font-weight: 200;
            line-height: 21pt;
            margin: 20px 0 10px;
            padding: 0 40px;
            letter-spacing: .6px;
        }

        &.has-image {
            h2,
            h4 {
                color: white;
            }
        }
    }

    .share-container_collection {
        background: transparentize($black, .5);
        z-index: 20;
    }

    .share-container {
        z-index: 20;

        &.has-image .tagline {
            color: white;
        }

        .tagline {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 10pt;
            letter-spacing: 2px;
            color: #fff;
        }
    }

    .share {
        display: flex;
        flex-direction: row;
        padding: 5px 0 20px;
        position: relative;
        justify-content: center;

        .social-item {
            margin: 0 6px;
        }
    }

    &.has-image {

        .background {
            visibility: visible;
        }

        .header-main {
            background: transparentize($black, .5);
            border-radius: $widget-border-radius $widget-border-radius 0 0;
            padding: 40px 0 35px;

            h2,
            h4 {
                color: $white;
                text-shadow: 0 1px 5px transparentize($black, .2);
            }
        }

        .share {
            background: $primary;
            border-radius: 0 0 $widget-border-radius $widget-border-radius;
        }
    }
}

.social-item .icon-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 420px) {
    .collection-header {
        .background {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.collect_head_row {
    margin-bottom: 25px !important;
}

@media screen and (min-width: $tablet-portrait) {
    .collection-header {

        .row {
            margin: 20px auto;
            width: $tablet-portrait - ($side-gutters * 2);
        }

        .header-main {

            h4 {
                display: block;
            }
        }

        .share {
            display: flex;
            flex-direction: row;
            position: relative;
            text-align: center;
            z-index: 20;
        }
        .stat-achieved {

            h3,
            .stat-value {
                color: $white;
            }
        }

        .stats-achieved {
            border-top: 1px solid transparentize($black, .9);
            display: flex;
            flex-direction: row;
            flex-wrap: none;
            padding: 0 0 15px;
            position: relative;
            text-align: center;
            z-index: 20;
        }

        .stat-achieved {
            display: flex;
            flex: 1 1 0;
            flex-direction: column;
            width: 100%;
        }

        &.has-image {
            .share {
                background: transparentize($primary, .2);
            }
        }
    }


}

@media screen and (max-width: $tablet-portrait) {
    .collection-header .stats-achieved {
        background: $primary;
        border-radius: 0 0 3px 3px;
    }

    .collection-header .header-main {
        h2 {
            font-size: 29pt !important;
        }
    }

}

@media screen and (max-width: $mobile) {

    .collection-header .header-main {
        h2 {
            font-size: 22px !important;
            margin: 5px 0 10px;
            line-height: 20pt;
        }
        .stats_head {
            font-size: 20pt !important;
        }
    }
    .stat-achieved h2 {
        font-size: 20pt;
        line-height: 24pt;
        margin: 20px 0 10px;
        text-transform: uppercase;
    }
    statistics-banner {
        .stats-background {
            img {
                left: 0px;
                position: absolute;
            }
        }

        .background {
            background: transparent;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .collection-header {
        .stat-achieved {
            display: flex;
            flex: 1 1 50%;
            flex-direction: column;
            width: 100%;
        }

        .picture {
            background: transparent;
        }

        .community_head {
            h2 {
                font-size: 22pt;
                line-height: 24pt;
                margin: 20px 0 10px;
                display: flex;
                white-space: normal;
                width: 100%;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: $desktop-sm) {
    .collection-header {

        .row {
            margin: 40px auto 20px;
            width: $desktop-sm - ($side-gutters * 2);
        }

        .background {

            img {
                position: relative;
                top: -90px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .collect_head_row {
    margin-bottom: 0px !important;
}
}
