@import '../../core/colors';
@import '../../core/mixins';
@import '../../core/variables';

// .location-snippet
// a context directive for verbal locations
.location-snippet {
  display: flex;
  padding: 0 0 4px;
  position: relative;

  svg {
    display: inline-block;
    fill: $grey04;
    height: 24px;
    vertical-align: top;
    width: 23px;
  }

  title {
    color: $grey01;
    display: inline-block;
    font-size: 11pt;
    line-height: 14pt;
    margin: auto 5px;
    max-width: 240px;
    min-width: 70px;
    word-wrap: break-word;
  }

  .zero-state & {

    title {

      &:empty {
        background: transparentize($black, .9);
        border-radius: $border-radius;
        height: 10px;
        margin: auto 5px;
        width: 55%;
      }
    }
  }
}
